<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "My Lists", lists_path %>
          </li>
          <li class="nav-item">
            <%= link_to "New List", new_list_path %>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/Users/alicebernaud/code/AliceBernaud/rails-watch-list/app/assets/images/salle-cinema-3.jpg)">
 <h1>Save any kind of movies</h1>
 <br>
 <h2>Classic</h2>
</div>

<h2> My List </h2>

<ul>
  <div class="cards">
    <% @lists.each do |list| %>
    <div class="box">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <p> <%= link_to list.name, list_path(list)%> </p>
        </div>
    </div>
      <% end %>
  </div>
</ul>


<button type="button" class="btn btn-success">
<%= link_to "Create a movie list", new_list_path%>
</button>
